<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agrilink--Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/static/css/main.css">

</head>

<body>
    <!-- ******NAVBAR******** -->
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo"> </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/" class="navfont">首页</a></li>
                <li><a href="/crop-planning/" class="navfont">作物种植</a></li>
                <li><a href="/disease-detection/" class="navfont">灾病检测</a></li>
                <li><a href="/sell/" class="navfont">出售</a></li>
                <li><a href="/buy/" class="navfont">购买</a></li>
            </ul>
        </div>
    </nav>

    <!-- ******BANNER******** -->
<!--    <img class="banner" src="/static/assets//Rectangle 100.png" alt="">-->
    <img id="bgpic" class="banner" src="/static/assets//bgpic.avif" alt="">
<!--    <img class="pic" src="/static/assets//undraw_Walking_outside_re_56xo.png" alt="">-->
    <img class="logo" src="/static/assets//Group 115.png" alt="">
    <div class="b_txt">
        <br><br><br><br><br><br><br><br><br><br>
        <p id="titlefont">Agrilink是农民的完美指南，我们能根据天气和农场地区的物理景观选择最适合的作物和化肥，让您收获硕果。</p>
    </div>
    <div id="holdplace"></div>
    <!-- ******SECTION -1******** -->
    <img class="con_1" src="/static/assets/Rectangle 101.png" alt="" />
    <img class="img_1" src="/static/assets/rows-agricultural-crops-field.png" alt="">
<!--    <img class="ab_1" src="/static/assets/Group 101.png" alt="">-->
    <div class="con1_txt">
        <h5>通过帮助农民改善农业实践，教育他们更好的种植方法，来丰富农民的生活。Agrilink将帮助农民决定哪些作物和化肥对他们有用，以便根据天气和农场地区的物理景观获得良好的收成。</h5>
    </div>
    <div class="btnn1">
        <a class="waves-effect waves-light btn" href="/crop-planning/">作物推荐</a>
    </div>

    <!-- ******SECTION -2******** -->
    <img class="con_2" src="/static/assets/Rectangle 103.png" alt="">
    <img class="img_2" src="/static/assets/diease.png" alt="">
    <img class="ab_2" src="/static/assets/Group 102.png" alt="">
    <div class="con2_txt">
        <h5>通过帮助农民改善农业实践，教育他们更好的种植方法，来丰富农民的生活。Agrilink将帮助农民决定哪些作物和化肥对他们有用，以便根据天气和农场地区的物理景观获得良好的收成。</h5>
    </div>
    <div class="btnn2">
        <a class="waves-effect waves-light btn" href="/disease-detection/">灾病检测</a>
    </div>

    <!-- ******Footer******** -->
    <img class="con_3" src="/static/assets/Rectangle 126.png" alt="">
    <img class="f_logo" src="/static/assets/undraw_nature_m5ll.png" alt="">

    <button class="scroll" id="scrollToTopBtn"><i class="fas fa-arrow-up "></i></button>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>

</html>